@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 10px;
}
#canvas {
  width: 1920px;
  height: 1080px;
  background: #3dc2d3;
  /* overflow: hidden; */
}
.patron-panel {
  height: 200px;
  /* background: rgb(252, 200, 88); */
  padding: 0.5rem;
}
.patron-panel-content {
  background: #f3f3f3;
  /* background: rgba(193, 255, 112, 0.5); */
}
.patron {
  vertical-align: top;
  display: inline-block;
  background: #ddd;
  /* background: rgba(178, 46, 190, 0.5); */
}
.ant-avatar-image {
  vertical-align: sub;
}
